.global-header-admin {
  background-color:$purple;
}
.heading-xxlarge {
  @extend .heading-xlarge;
  font-size:76px;
  margin-bottom:30px;
}

.wellwork-action {
  
  border:2px solid purple;
  padding:20px 30px 30px;
  margin-bottom:30px;
  background:$grey-4;
  
  .wellwork-action__title {
    margin-top:10px;
  }
  .wellwork-action__prefix {
    // text-decoration:underline;
    font-weight:700;
    // border-bottom:2px solid black;
  }
}
