.global-header-admin {
  background-color:$purple;
}
.heading-xxlarge {
  @extend .heading-xlarge;
  font-size:76px;
  margin-bottom:30px;
}

.wellwork-action {
  
  border:2px solid purple;
  padding:20px 30px 30px;
  margin-bottom:30px;
  background:$grey-4;
  
  .wellwork-action__title {
    margin-top:10px;
  }
  .wellwork-action__prefix {
    // text-decoration:underline;
    font-weight:700;
    // border-bottom:2px solid black;
  }
}
.wellwork-action__buttons--right {
  button {float:right;margin-left:20px;}
}

.button--red {
  background-color:$red;
  border-bottom-color:darken($red, 10);
  &:hover {
    background-color:darken($red,5);
  }
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
