.global-header-admin {
  background-color:$purple;
}
.heading-xxlarge {
  @extend .heading-xlarge;
  font-size:76px;
  margin-bottom:30px;
}
.button--red {  
  &:link,
  &:visited {
    background-color:$red;
    border-bottom-color:darken($red, 10);
  }
  &:hover,&:active {
    background-color:darken($red,5);
  }
}
.completion_banner {
  padding:60px 30px 45px;
  background-color:$turquoise;
  margin:30px 0;
  color:white;
  text-align:center;
  h1 {margin:0 0 30px}
}
/*
  DO WE HAVE A CLEARFIX? I DON'T KNOW!!!!
*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
