{% set page = {
  title: 'PolicyLab Design Sprint',
  layout: prototype.current.layoutPath + 'layout_admin.html',
  dev: true,
  nav: {
    maxwidth: true
  }
} %}

{% extends page.layout %}

{% block primary %}

  {{ prototype.current.layoutPath | log }}

  <h1 class="heading-large">{{ title }}</h1>
  
  <div id="chat-wrapper" class="chat-wrapper" style="width: 100%; height: 500px;">
    
  </div>

{% endblock %}

{% block body_end %}
  {{ super() }}

  <script>
  window.ChatraSetup = {
      mode: 'frame',
      // id of the block you want to embed chat into
      injectTo: 'chat-wrapper'
  };
  </script>  
  
  <!-- Chatra {literal} -->
  <script>
      ChatraID = 'EL2pEPKszb4EgZXSi';
      (function(d, w, c) {
          var n = d.getElementsByTagName('script')[0],
              s = d.createElement('script');
          w[c] = w[c] || function() {
              (w[c].q = w[c].q || []).push(arguments);
          };
          s.async = true;
          s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
              + '//call.chatra.io/chatra.js';
          n.parentNode.insertBefore(s, n);
      })(document, window, 'Chatra');
  </script>
  <!-- /Chatra {/literal} -->
{% endblock %}