{% set page = {
  title: 'Research',
  layout: prototype.current.layoutPath + 'layout_admin.html',
  dev: true,
  nav: {
    maxwidth: true
  }
} %}

{% extends page.layout %}

{% block primary %}

  <h1 class="heading-large">{{ title }}</h1>
  
  <ul>
    <li><a href="{{ prototype.current.path }}user/">Employee (User)</a></li>
    <li><a href="{{ prototype.current.path }}advisor/">Advisor</a></li>
    <li><a href="{{ prototype.current.path }}employer/">Employer</a></li>
  </ul>

{% endblock %}

{% block body_end %}
  {{ super() }}
{% endblock %}