{% set page = {
  title: 'Design Page',
  layout: prototype.current.layoutPath + 'layout_admin.html',
  dev: true,
  nav: {
    maxwidth: true
  }
} %}

{% extends page.layout %}

{% block main %}

  {{ prototype.current.layoutPath | log }}
  
  <h1 class="heading-xlarge" style="margin-top:60px;">Check plan before sharing</h1>
    
  <div class="grid-row">
    <div class="column-one-third">
      
      {{ macros.previewMessage() }}
        
    </div><!-- column -->
    <div class="column-two-thirds">
      
      <div class="plan">
        
        <h1 class="heading-xlarge" style="margin-top:0;">Introduction</h1>
        {# <p class="plan__page-marker">page 1</p> #}
        <p class="lede">Yasmin has been referred to the Well in Work Service by her GP. The Well in Work Service supports staff with health conditions to stay in work.</p>
        <p>Yasmin is currently experiencing problems with her health due to tummy problems. She also has mental health issues that she is looking to address. She is finding it difficult to get access to the services she needs to get well again. This is affecting her at work and she is feeling stressed.</p>
        <p>The Well in Work service aims to help both employers and employees to have more open conversations and improve well being at work. You contact Yasmin’s adviser Alan to find our more about the service at www.wellinwork.gov.uk.</p>
        <p>Yasmin has given permission for her action plan to be shared with you.</p>
        
        <p style="margin-top:60px"><a href="preview_plan_2">Yasmin's plan</a>&nbsp;&rarr;</p>
        
      </div><!-- plan -->
        
    </div><!-- column -->
    
    
  </div><!-- row -->

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script type="text/javascript">
    $('#share-decision').on('click',function()
    {
      var t = $(this).data().dest;
      $(t).toggleClass('js-hidden');
    });
  </script>
{% endblock %}
