{% set page = {
  title: 'Design Page',
  layout: prototype.current.layoutPath + 'layout_admin.html',
  dev: true,
  nav: {
    maxwidth: true
  }
} %}

{% extends page.layout %}

{% block main %}

  {{ prototype.current.layoutPath | log }}
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="completion_banner">
        <h1 class="heading-xlarge">Action plan sent</h1>
        <p>Your actions have been saved and sent to Yasmin.</p>
      </div>
      
      <h2 class="heading-medium">Next</h2>
      <p>Yasmin will be able to review the actions you've added, edit them and decide which of them she wants to share with her employer or other support services.</p>
      <p><a href="completed_plan">Review the completed plan</a></p>
    </div><!-- column -->
  </div><!-- row -->
  

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script type="text/javascript">
    $('#share-decision').on('click',function()
    {
      var t = $(this).data().dest;
      $(t).toggleClass('js-hidden');
    });
  </script>
{% endblock %}
