{% set page = {
  title: 'Design Page',
  layout: prototype.current.layoutPath + 'layout_admin.html',
  dev: true,
  nav: {
    maxwidth: true
  }
} %}

{% extends page.layout %}

{% block main %}

  {{ prototype.current.layoutPath | log }}
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="completion_banner">
        <h1 class="heading-xlarge">Plan complete</h1>
        <p>You plan is now complete and ready for your employer to view.</p>
      </div>
      
      <h2 class="heading-medium">Next</h2>
      <p>Your adviser will be able to help you decide how to let your employer know about your plan and what your next steps should be.</p>
      <p><a href="completed_plan">Review the completed plan again</a></p>
    </div><!-- column -->
  </div><!-- row -->

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script type="text/javascript">
    $('#share-decision').on('click',function()
    {
      var t = $(this).data().dest;
      $(t).toggleClass('js-hidden');
    });
  </script>
{% endblock %}
