{% set page = {
  title: 'Design Page',
  layout: prototype.current.layoutPath + 'layout_admin.html',
  dev: true,
  nav: {
    maxwidth: true
  }
} %}

{% extends page.layout %}

{% block main %}

  {{ prototype.current.layoutPath | log }}

  <h1 class="heading-xxlarge">Your Plan</h1>
  
  <p class="lede">This plan will help you reach your health and work goals. This plan is based on what you discussed with your adviser.</p>
  
  <div class="grid-row">
    <div class="column-one-third">
      
      <div class="conversation conversation--side clearfix">
        <div class="conversation__bubble {% if item[0] == 'Adviser'  %}right{% endif %}">
          <p class="conversation__person">Adviser</p>
          <p class="conversation__text">I've added some actions in to your plan. Take a look and see what you think. You can change any you want to and decide which ones you'd like your employer to see.</p>
          <p class="conversation__time">15:30pm – 3rd May</p>
        </div>
      </div>
      
      <p><a href="conversation">View full conversation</a></p>
      
      <div class="action-box">
        <p>Once you are happy with your plan you can check how it'll look when your employer sees it.</p>
        <p><a href="preview_plan" class="button button--blue">Preview your plan</a></p>
      </div>
        

    </div><!-- column -->

    <div class="column-two-thirds">
      
      <div class="wish">

        <p class="wish__label">I want to:</p>
        <h2 class="heading-large wish__head">recover and improve my mental health</h2>

        <p class="wish__label">So that:</p>
        <h2 class="heading-large wish__head">I'll feel healthy again</h2>

        <div class="wellwork-action">
            <h3 class="wellwork-action__title">Action #1</h3>
            <p class="wellwork-action__task"><span class="wellwork-action__prefix">I'm going to </span> book an appointment with GP to discuss referral services and try to speed things up.</p>
            <p class="wellwork-action__deadline"><span class="wellwork-action__prefix">by</span> 14th June 2016</p>
            <p><button class="button">Change this action</button></p>
            <p><button class="button" id="share-decision" data-dest="#share-options">Choose what to share</button></p>
            {% include prototype.current.pathRel + "design/inc_share-options.html" %}
        </div>

        <div class="wellwork-action">
            <h3 class="wellwork-action__title">Action #2</h3>
            <p class="wellwork-action__task"><span class="wellwork-action__prefix">I need to</span> do a thing that is described in a quite long sentance but not a huge paragraph. This should describe the task that needs to be done or the area of behaviour or activity that needs to be worked on.</p>
            <p class="wellwork-action__deadline"><span class="wellwork-action__prefix">by</span> 14th June 2016</p>
            <p><button class="button">Change this action</button></p>
            <p><button class="button" id="share-decision" data-dest="#share-options">Choose what to share</button></p>
            {% include prototype.current.pathRel + "design/inc_share-options.html" %}
        </div>
      
      </div><!-- wish -->
      
      <div class="wish">

        <p class="wish__label">I want to:</p>
        <h2 class="heading-large wish__head">recover and improve my mental health</h2>

        <p class="wish__label">So that:</p>
        <h2 class="heading-large wish__head">I'll feel healthy again</h2>

        <div class="wellwork-action">
            <h3 class="wellwork-action__title">Action #1</h3>
            <p class="wellwork-action__task"><span class="wellwork-action__prefix">I'm going to </span> book an appointment with GP to discuss referral services and try to speed things up.</p>
            <p class="wellwork-action__deadline"><span class="wellwork-action__prefix">by</span> 14th June 2016</p>
            <p><button class="button">Change this action</button></p>
            <p><button class="button" id="share-decision" data-dest="#share-options">Choose what to share</button></p>
            {% include prototype.current.pathRel + "design/inc_share-options.html" %}
        </div>

        <div class="wellwork-action">
            <h3 class="wellwork-action__title">Action #2</h3>
            <p class="wellwork-action__task"><span class="wellwork-action__prefix">I need to</span> do a thing that is described in a quite long sentance but not a huge paragraph. This should describe the task that needs to be done or the area of behaviour or activity that needs to be worked on.</p>
            <p class="wellwork-action__deadline"><span class="wellwork-action__prefix">by</span> 14th June 2016</p>
            <p><button class="button">Change this action</button></p>
            <p><button class="button" id="share-decision" data-dest="#share-options">Choose what to share</button></p>
            {% include prototype.current.pathRel + "design/inc_share-options.html" %}
        </div>
      
      </div><!-- wish -->
      
      <div class="wish">

        <p class="wish__label">I want to:</p>
        <h2 class="heading-large wish__head">recover and improve my mental health</h2>

        <p class="wish__label">So that:</p>
        <h2 class="heading-large wish__head">I'll feel healthy again</h2>

        <div class="wellwork-action">
            <h3 class="wellwork-action__title">Action #1</h3>
            <p class="wellwork-action__task"><span class="wellwork-action__prefix">I'm going to </span> book an appointment with GP to discuss referral services and try to speed things up.</p>
            <p class="wellwork-action__deadline"><span class="wellwork-action__prefix">by</span> 14th June 2016</p>
            <p><button class="button">Change this action</button></p>
            <p><button class="button" id="share-decision" data-dest="#share-options">Choose what to share</button></p>
            {% include prototype.current.pathRel + "design/inc_share-options.html" %}
        </div>

        <div class="wellwork-action">
            <h3 class="wellwork-action__title">Action #2</h3>
            <p class="wellwork-action__task"><span class="wellwork-action__prefix">I need to</span> do a thing that is described in a quite long sentance but not a huge paragraph. This should describe the task that needs to be done or the area of behaviour or activity that needs to be worked on.</p>
            <p class="wellwork-action__deadline"><span class="wellwork-action__prefix">by</span> 14th June 2016</p>
            <p><button class="button">Change this action</button></p>
            <p><button class="button" id="share-decision" data-dest="#share-options">Choose what to share</button></p>
            {% include prototype.current.pathRel + "design/inc_share-options.html" %}
        </div>
      
      </div><!-- wish -->

    </div><!-- column -->

  </div><!-- row -->

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script type="text/javascript">
    $('#share-decision').on('click',function()
    {
      var t = $(this).data().dest;
      $(t).toggleClass('js-hidden');
    });
  </script>
{% endblock %}
