{% set page = {
  title: 'Design Page',
  layout: prototype.current.layoutPath + 'layout_admin.html',
  dev: true,
  nav: {
    maxwidth: true
  }
} %}

{% extends page.layout %}

{% block main %}

  {{ prototype.current.layoutPath | log }}

  <h1 class="heading-xxlarge">Yasmin's action plan</h1>

  <div class="grid-row">
    <div class="column-one-third">

      <div class="conversation conversation--side clearfix">
        <div class="conversation__bubble {% if item[0] == 'Adviser'  %}right{% endif %}">
          <p class="conversation__person">Yasmin</p>
          <p class="conversation__text">Hello, I've added my wishes and outcomes as we discussed but I'm struggling to think of what actions I could take. Can you give me some ideas to start from?</p>
          <p class="conversation__time">15:30pm – 3rd May</p>
        </div>
      </div>

      <p><a href="conversation">View full conversation</a></p>

    </div><!-- column -->

    <div class="column-two-thirds">

        <div class="wish">
          <p class="wish__label">I want to:</p>
          <h2 class="heading-large wish__head">recover and improve my mental health</h2>
          <p class="wish__label">So that:</p>
          <h2 class="heading-large wish__head">I will feel healthy again</h2>
          <button class="button">Add an action</button>
        </div>

        <div class="wish">
          <p class="wish__label">I want to:</p>
          <h2 class="heading-large wish__head">recover and improve my mental health</h2>
          <p class="wish__label">So that:</p>
          <h2 class="heading-large wish__head">I will feel healthy again</h2>
          <button class="button">Add an action</button>
        </div>

        <div class="wish">
          <p class="wish__label">I want to:</p>
          <h2 class="heading-large wish__head">recover and improve my mental health</h2>
          <p class="wish__label">So that:</p>
          <h2 class="heading-large wish__head">I will feel healthy again</h2>
          <button class="button">Add an action</button>
        </div>

    </div><!-- column -->

  </div><!-- row -->

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script type="text/javascript">
    $('#share-decision').on('click',function()
    {
      var t = $(this).data().dest;
      $(t).toggleClass('js-hidden');
    });
  </script>
{% endblock %}
