{% set page = {
  title: 'Design Page',
  layout: prototype.current.layoutPath + 'layout_admin.html',
  dev: true,
  nav: {
    maxwidth: true
  }
} %}

{% extends page.layout %}

{% block main %}

  {{ prototype.current.layoutPath | log }}
  
  <h1 class="heading-xlarge">Your Plan</h1>
  
  <div class="grid-row">
    <div class="column-two-thirds">
        
        <div class="wellwork-action">
            <h3 class="heading-large wellwork-action__title">Action</h3>
            <p class="wellwork-action__task"><span class="wellwork-action__prefix">I need to</span> do a thing that is described in a quite long sentance but not a huge paragraph. This should describe the task that needs to be done or the area of behaviour or activity that needs to be worked on.</p>
            <p class="wellwork-action__deadline"><span class="wellwork-action__prefix">by</span> 14th June 2016</p>
            <button class="button">Edit this action</button>
        </div>
        
        <div class="wellwork-action">
            <h3 class="heading-large wellwork-action__title">Action</h3>
            <p class="wellwork-action__task"><span class="wellwork-action__prefix">I need to</span> do a thing that is described in a quite long sentance but not a huge paragraph. This should describe the task that needs to be done or the area of behaviour or activity that needs to be worked on.</p>
            <p class="wellwork-action__deadline"><span class="wellwork-action__prefix">by</span> 14th June 2016</p>
            <button class="button">Edit this action</button>
        </div>
        
        
    </div><!-- column -->
  </div><!-- row -->

{% endblock %}

{% block body_end %}
  {{ super() }}
{% endblock %}
