{% set page = {
  title: 'Design Page',
  layout: prototype.current.layoutPath + 'layout_admin.html',
  dev: true,
  nav: {
    maxwidth: true
  }
} %}

{% extends page.layout %}

{% block main %}
  
  <h1 class="heading-xxlarge">An Employer</h1>
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-bullet">
        <li><a href="plan">Redacted Plan</a></li>
      </ul>
        
    </div><!-- column -->
    
    <div class="column-one-third">
        
    </div><!-- column -->
  </div><!-- row -->

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script type="text/javascript">
    $('#share-decision').on('click',function()
    {
      var t = $(this).data().dest;
      $(t).toggleClass('js-hidden');
    });
  </script>
{% endblock %}
