{% set page = {
  title: 'Add an action to the plan',
  layout: prototype.current.layoutPath + 'layout_admin.html',
  dev: true,
  nav: { maxwidth: true },
  user: 'advisor'
} %}

{% extends page.layout %}

{% block primary %}

  <h1 class="heading-xxlarge">{{ query.mode | title }} action</h1>

  <form action="store_action" method="post">

    {% if query.mode == 'edit' %}
      {% set thisAction = session.planData[page.user][query.wishID].actions[query.actionID] %}
    {% endif %}
    
    <input type="hidden" name="mode" value="{{ query.mode }}">
    
    {% if query.wishID %}
      <input type="hidden" name="wishID" value="{{ query.wishID }}">
    {% endif %}
    
    {% if query.actionID %}
      <input type="hidden" name="actionID" value="{{ query.actionID }}">
    {% endif %}
    
    <div class="form-group">
      <label class="form-label" for="action_description">
        What needs to happen?
      </label>
      <textarea class="form-control" id="action_description" name="task" cols="30" rows="10">{{ thisAction.task | d('') }}</textarea>
    </div>
        
    {# <div class="form-group {{ 'js-hidden' if page.user == 'employee'}}">
      <label class="form-label" for="person">Who is doing this?</label>
      <input class="form-control" type="text" name="person" id="person" value="{{ thisAction.person | d('') | title }}">
    </div> #}
    
    <div class="foo {{ 'js-hidden' if page.user == 'employee'}}">
       <div class="form-group">
        <label class="form-label" for="select-box">Who will be doing this?</label>
        <select class="form-control" id="select-box" name="person">
          <option>employee</option>
          <option>advisor</option>
          <option>employer</option>
        </select>
      </div>
    </div>
    
    {{ 
      macros.datefield({ 
        label: 'By when?',
        day: thisAction.date_day,
        month: thisAction.date_month,
        year: thisAction.date_year
      })
    }}
    
    {{ macros.button({ label: query.mode | title + ' this action '}) }}
    
  </form>

{% endblock %}

{% block body_end %}
  {{ super() }}
{% endblock %}