{% set page = {
  title: 'Design Page',
  layout: prototype.current.layoutPath + 'layout_admin.html',
  dev: true,
  nav: {
    maxwidth: true
  },
  user: 'advisor'
} %}

{% extends page.layout %}

{% block main %}

  {{ prototype.current.layoutPath | log }}
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="completion_banner">
        <h1 class="heading-xlarge">Plan complete</h1>
        <p>Your plan is now complete and ready for employee and employer to view.</p>
      </div>
      
      <h2 class="heading-medium">Next</h2>
      <p><a href="plan">Review the completed plan again</a></p>
    </div><!-- column -->
  </div><!-- row -->

{% endblock %}
