{% set page = {
  title: 'Design Page',
  layout: prototype.current.layoutPath + 'layout_admin.html',
  dev: true,
  nav: {
    maxwidth: true
  }
} %}

{% extends page.layout %}

{% block main %}
  
  <h1 class="heading-xxlarge">Advisor</h1>
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-bullet">
        <li><a href="conversation">Conversation Page</a></li>
        <li><a href="plan">Plan</a> – Viewed by Advisor</li>
        <li><a href="action?mode=edit&amp;wishID=0&amp;actionID=0">Edit An Action</a> – Used by Advisor</li>
        <li><a href="action?mode=add&amp;wishID=0&amp;">Add An Action</a> – Used by Advisor to add a new action to a wish</li>
        <li><a href="preview_plan">Preview your plan</a> – Viewed by Employee/Advisor/Employer to check how the Employer will see things.</li>
        <li><a href="complete">Complete Advisor</a> – To say plan has been sent</li>
      </ul>
        
    </div><!-- column -->
    
    <div class="column-one-third">
        
    </div><!-- column -->
  </div><!-- row -->

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script type="text/javascript">
    $('#share-decision').on('click',function()
    {
      var t = $(this).data().dest;
      $(t).toggleClass('js-hidden');
    });
  </script>
{% endblock %}
