{% set page = {
  title: 'Design Page',
  layout: prototype.current.layoutPath + 'layout_admin.html',
  dev: true,
  nav: {
    maxwidth: true
  },
  user: 'advisor'
} %}

{% extends page.layout %}

{% block main %}
  
  <h1 class="heading-xlarge" style="margin-top:60px;">Check plan before sharing</h1>
    
  <div class="grid-row">
    <div class="column-one-third">
      
      {{ macros.previewMessage() }}
        
    </div><!-- column -->
    <div class="column-two-thirds">
      
      <div class="plan">
        
        <h1 class="heading-xlarge" style="margin-top:0">Yasmin's plan</h1>
        
        <h2 class="heading-medium">Yasmin plans to:</h2>
        
        {% set employeeActions = session.planData["employee"][0].actions | filter({ 'person': 'employee' }) %}
        {% set coachActions = session.planData["employee"][0].actions | filter({ 'person': 'coach' }) %}
        {% set employerActions = session.planData["employee"][0].actions | filter({ 'person': 'employer' }) %}
        
        {% if employeeActions.length > 0 %}
        <ul class="list list-number">
          {% for action in employeeActions %}
            <li>{{ action.task }}</li>
          {% endfor %}
        </ul>
        
        <h2 class="heading-medium">This will help Yasmin to:</h2>
        <ul class="list list-number">
          {% for action in employeeActions %}
              <li>{{ action.why }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        
        {% if employerActions.length > 0 %}
          <h2 class="heading-medium">What you can do to help</h2>
          <ul class="list list-number">
            {% for action in employerActions %}
              <li>{{ action.task }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        
        <p style="margin-top:60px">&larr;&nbsp;<a href="preview_plan">Introduction</a></p>
        
      </div><!-- plan -->

    </div><!-- column -->
  </div><!-- row -->

{% endblock %}

{% block body_end %}
  {{ super() }}
{% endblock %}
